<section class="about container-fluid py-5 bg-dark " id="about">
    <div class="container-fluid">
        <div class="row col-10 mx-auto">
            <div class="col-lg-4 ">
                <h3 class="text-white">About Us</h3>
                <p class="text-white">If you own an Iphone, you’ve probably already worked out how much fun it is to use
                    it to watch
                    movies-it has that.</p>
            </div>
            <div class="col-lg-4">
                <h3 class="text-white">Newsletter</h3>
                <p class="text-white">Stay update with our latest</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email address"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary submit-button" type="button"
                            id="button-addon2">&#8594;</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3 class="text-white">Follow Us</h3>
                <p class="text-white">Let us be social</p>
                <div class="d-flex w-25 justify-content-between">
                    <i class="fab fa-facebook-f text-white"></i>
                    <i class="fab fa-twitter text-white"></i>
                    <i class="fab fa-linkedin-in text-white"></i>
                    <i class="fab fa-github text-white"></i>
                </div>
            </div>
        </div>
    </div>
</section>