<section class="blog-categories container-fluid py-5" id="blog-categories">
    <div class="container-md">
        <div class="row">
            <div class="col-lg-4">
                <a href="#">
                    <div class="blog-categories-1 h-100 d-flex">
                        <div
                            class="blog-categories-1-inner text-center py-5 m-auto w-75 h-75 justify-content-center align-self-center">
                            <h4 class="text-white">SOCIAL LIFE</h4>
                            <hr class="w-75 mx-auto bg-white">
                            <p class="text-white">Enjoy your social life together</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="blog-categories-2 h-100 d-flex">
                        <div
                            class="blog-categories-2-inner text-center py-5 m-auto w-75 h-75 justify-content-center align-self-center">
                            <h4 class="text-white">POLITICS</h4>
                            <hr class="w-75 mx-auto bg-white">
                            <p class="text-white">Be a part of politics</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="blog-categories-3 h-100 d-flex">
                        <div
                            class="blog-categories-3-inner text-center py-5 m-auto w-75 h-75 justify-content-center align-self-center">
                            <h4 class="text-white">FOOD</h4>
                            <hr class="w-75 mx-auto bg-white">
                            <p class="text-white">Let the food be finished</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>