<section class="container-fluid category py-5 bg-light" id="category">
    <div class="container-fluid">
        <div class="container-fluid text-center">
            <h1>Category of available items</h1>
            <p>They are grilling celebrities in their own right.</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 text-center pt-5 my-auto">
                    <img class="category-img rounded-circle pb-3"
                        src="https://images.pexels.com/photos/825661/pexels-photo-825661.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <h4>Pizza</h4>
                    <p>inappropriate behavior is often laughed off as “boys will be".</p>
                </div>
                <div class="col-lg-3 text-center pt-5 my-auto">
                    <img class="category-img rounded-circle pb-3"
                        src="https://images.pexels.com/photos/5802/bread-food-cooking.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="">
                    <h4>Bread</h4>
                    <p>inappropriate behavior is often laughed off as “boys will be".</p>
                </div>
                <div class="col-lg-3 text-center pt-5 my-auto">
                    <img class="category-img rounded-circle pb-3"
                        src="https://images.pexels.com/photos/1633578/pexels-photo-1633578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <h4>Burger</h4>
                    <p>inappropriate behavior is often laughed off as “boys will be".</p>
                </div>
                <div class="col-lg-3 text-center pt-5 my-auto">
                    <img class="category-img rounded-circle pb-3"
                        src="https://images.pexels.com/photos/2338407/pexels-photo-2338407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="">
                    <h4>Burger</h4>
                    <p>inappropriate behavior is often laughed off as “boys will be".</p>
                </div>
            </div>
        </div>
        <div class="text-center py-5">
            <a href="/menu"><button type="button" class="btn btn-warning text-white">View Full Menu</button></a>
        </div>
    </div>
</section>