<section class="chef container-fluid py-5" id="chef">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Meet Our Qualified Chefs</h1>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="row col-10 mx-auto">
            <div class="col-lg-3">
                <img src="image/t1.jpg" alt="">
                <div class="text-center pt-3">
                    <h3 class="m-0">Ethel Davis</h3>
                    <p>Head Chef (Cutting)</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="image/t2.jpg" alt="">
                <div class="text-center pt-3">
                    <h3 class="m-0">Rodney Cooper</h3>
                    <p>Head chef (Herb specialist)</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="image/t3.jpg" alt="">
                <div class="text-center pt-3">
                    <h3 class="m-0">Dora Walker</h3>
                    <p>Senior Chef (Curry)</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="image/t4.jpg" alt="">
                <div class="text-center pt-3">
                    <h3 class="m-0">Lena Keller</h3>
                    <p>Head Chef (Steak)</p>
                </div>
            </div>
        </div>
    </div>
</section>