<section class="getStarted container-fluid py-5 container-md" id="getStarted">
    <div class="container-fluid getStarted-content">
        <div class="row">
            <div class="col-lg-6 my-auto">
                <h6 class="text-warning">BRAND NEW APP TO BLOW YOUR MIND</h6>
                <h1>We’ve baked every item from the core of our heart to serve you</h1>
                <h6>We are here to listen from you deliver exellence by any means</h6>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim.</p>
                <button type="button" class="btn btn-warning text-white">Get Started Now</button>
            </div>
            <div class="col-lg-6 text-center">
                <img class="w-50"
                    src="https://images.pexels.com/photos/2693447/pexels-photo-2693447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
            </div>
        </div>
    </div>
</section>