<section class="latest container-fluid py-5" id="latest">
    <div class="container-fluid text-center">
        <h1>Latest Posts From Our Blog</h1>
        <p>Do you want to share your love of cheese fondue with your children? Or did you just find out that one of your
            fondue party guests doesn’t drink alcohol.</p>
        <div class="row">
            <div class="col-lg-4">
                <img class="w-100 latest-img"
                    src="https://images.pexels.com/photos/2313686/pexels-photo-2313686.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <div class="d-flex w-100">
                    <div class="d-flex py-2">
                        <img class="latest-img-face"
                            src="https://images.pexels.com/photos/2128807/pexels-photo-2128807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <p class="my-auto px-2">Mark Wiens</p>
                    </div>
                    <div class="d-flex w-75">
                        <p class="my-auto ml-auto px-2">13th Dec</p>
                        <p class="my-auto px-2"><i class="far fa-heart"></i> 15</p>
                        <p class="my-auto px-2"><i class="far fa-envelope"></i> 04</p>
                    </div>
                </div>
                <hr>
                <div class="text-left latest-post"><a href="#">
                        <h3>STOCKING YOUR RESTAURANT KITCHEN FINDING RELIABLE SELLERS</h3>
                        <p>Saving money – is something we would all like to do. Whether you are struggling
                            to manage day to
                            day or earning a six figure salary, saving is something we all think about.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>