<section class="title container-fluid" id="title">
    <div class="container-fluid title-contents d-flex">
        <div class="justify-content-center align-self-center text-center w-50 mx-auto">
            <h6 class="text-white">WHENEVER WE BAKE, BAKE WITH OUR HEART</h6>
            <hr class="bg-warning">
            <h1 class="text-white"><%=title%></h1>
            <hr class="bg-warning">
            <h6 class="text-white">Since Americans in the South began roasting pigs publicly, Barbecues have been a
                staple
                of North American
                living. For many, grilling becomes a routine mealtime activity.</h6>
            <button type="button" class="btn btn-warning text-white">CHECK OUR MENU</button>
        </div>
    </div>
</section>