<section class="video container-fluid py-5  container-md" id="video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="text-warning">BRAND NEW APP TO BLOW YOUR MIND</h6>
                <h1>We’ve made a life
                    that will change you</h1>
                <h6>We are here to listen from you deliver exellence by any means</h6>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim.</p>
                <button type="button" class="btn btn-warning text-white">Get Started Now</button>
            </div>
            <div class="col-lg-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X1vSF67A7lg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>