* {
    color: black;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz',
        sans-serif;
}

/* navBar */

.navBar {
    box-shadow: 0 0px 4px 0px #000000;
}

/* End of navBar */

/* title */

.title-contents {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 90vh;
}

/* End of title */

/* category */

.category-img {
    width: 250px;
    height: 250px;
}

/* End of category */

/* review */

.review-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

/* End of review */